.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.section {
  margin-top: var(--spacing-8);
  width: 100%;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}
